init_config:

instances:
  # collection interval for events
  - min_collection_interval: 60

    # Base URL of Dynatrace instance
    # SaaS url example - https://{your-environment-id}.live.dynatrace.com
    # Managed url example - https://{your-domain}/e/{your-environment-id}
    url: https://test.live.dynatrace.com

    # Api Token from Dynatrace platform which has access to read the events API
    # Docs - https://www.dynatrace.com/support/help/dynatrace-api/basics/dynatrace-api-authentication/#generate-a-token
    # Token and Passwords can always be encrypted using Secret Management in Agent V2. Read more on docs link below
    # Docs - https://docs.stackstate.com/configure/security/secrets_management
    token: test_token

    # to verify the certificate for https
    # verify: True  # By default it's True

    # path to certificate file for https verification
    # cert: /path/to/cert.pem

    # path to public key of certificate for https verification
    # keyfile: /path/to/key.pem

    # Timeout for requests. Default value is 10.
    # timeout: 10

    # How many days in the past to collect events on the first run.
    # events_bootstrap_days: 5  # by default it's 5 days

    # Maximum number of events to process each run and this limit is respected with default value if not provided.
    # events_process_limit: 10000  # by default it's 10k events
