init_config:

instances:
  - hostip: # SCOM IP address
    domain: # SCOM active directory domain
    username: # SCOM read-only username
    password: # SCOM password
    auth_mode: Network
    integration_mode: powershell # api or powershell
    max_number_of_requests: 10000
    criteria : "(DisplayName LIKE 'All Windows Computers' OR DisplayName LIKE 'Linux%' )"
    # runs every 5 minute
    collection_interval: 300

