init_config:

instances:
  - url: # http://localhost:8080
    # user: my_username
    # pass: my_password
    # api_version: v18
    # verify_ssl: false      # Optional
    # tags:                  # Optional
    #   - optional_tag1
    #   - optional_tag2
