init_config:

instances:
  - url: localhost
    # user: my_username
    # pass: my_password
    # port: 7180             # Optional
    # api_version: v18
    # verify_ssl: false      # Optional
    # tags:                  # Optional
    #   - optional_tag1
    #   - optional_tag2
