init_config:

instances:
  - url: http://localhost:8080
    username: my_username
    password: my_password
    api_version: v18
    # verify_ssl: false      # Optional
    # tags:                  # Optional
    #   - optional_tag1
    #   - optional_tag2
