ddtrace==0.13.0
kubernetes==8.0.1
pyyaml==3.13
prometheus-client==0.3.0
protobuf==3.7.0
pywin32==224; sys_platform == 'win32'
requests==2.20.1
simplejson==3.6.5
six==1.14.0
uptime==3.0.1
uuid==1.30
PyYAML==3.13
boto3==1.10.49
flatten-dict==0.2.0
