init_config:
  aws_access_key_id: 'abc'
  aws_secret_access_key: 'cde'
  external_id: 'randomvalue'

instances:
    # collection interval for topology
  - min_collection_interval: 120
    role_arn: arn:aws:iam::0123456789:role/RoleName
    regions: 
      - global
      - eu-west-1
