init_config:

instances:
    # collection interval for topology
  - min_collection_interval: 300

    # Base URL of Dynatrace instance
    # SaaS url example - https://{your-environment-id}.live.dynatrace.com
    # Managed url example - https://{your-domain}/e/{your-environment-id}
    url: https://test.live.dynatrace.com

    # Api Token from Dynatrace platform which has access to read the topology API
    # Docs - https://www.dynatrace.com/support/help/dynatrace-api/basics/dynatrace-api-authentication/#generate-a-token
    token: test_token

    # to verify the certificate for https
    # verify: True  # By default it's True

    # path to certificate file for https verification
    # cert: /path/to/cert.pem

    # path to public key of certificate for https verification
    # keyfile: /path/to/key.pem

    # domain to filter out different instances
    # domain: "customer"

    # Environment to use for putting the data in
    # environment: "development"

    # Custom tags which can be used to filter out
    # tags:
    #   - foo:bar