init_config:
    # mandatory
    min_collection_interval: 60
    # optional
    # cache_file: '/var/tmp/sts_agent_aws_check.json'

instances:
  # mandatory AWS credentials and config
  - aws_access_key_id: 'abc'
    aws_secret_access_key: 'cde'
    role_arn: 'arn:aws:iam::0123456789:role/RoleName'
    region: 'ijk'

